@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto/roboto-light-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

/* index start */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  opacity: 1; }

/* index end */
/* header start */
/* header end */
/* aside start */
/* aside end */
/* main start */
/* main end */
/* footer start */
/* footer end */
